@page "/Customers"
@inject IMediator mediator

<MudRTLProvider RightToLeft="true">
    
    @* <RadzenDataGrid Data="_customers" TItem="GetCustomersMinimal_DTO" AllowVirtualization="false" Style="height:400px" *@
    @*                 AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or" *@
    @*                 AllowSorting="true"> *@
    @*     <Columns> *@
    @*         <RadzenDataGridColumn TItem="GetCustomersMinimal_DTO" Title="ردیف"> *@
    @*             <Template Context="item"> *@
    @*                 @item.FirstName.ToString().En2Fa() *@
    @*             </Template> *@
    @*         </RadzenDataGridColumn> *@
    @*         <RadzenDataGridColumn TItem="GetCustomersMinimal_DTO" Title="نام و نام خانوادگی"> *@
    @*             <Template Context="item"> *@
    @*                 @item.FirstName.ToString().En2Fa() *@
    @*             </Template> *@
    @*         </RadzenDataGridColumn> *@
    @* *@
    @*         $1$ <RadzenDataGridColumn TItem="GetCustomersMinimal_DTO" Title="عملیات"> #1# *@
    @*         $1$     <Template Context="item"> #1# *@
    @*         $1$         <RadzenButton Click=@OpenRegisterCustomer>+</RadzenButton> #1# *@
    @*         $1$     </Template> #1# *@
    @*         $1$ </RadzenDataGridColumn> #1# *@
    @* *@
    @*     </Columns> *@
    @* </RadzenDataGrid> *@

    <ul>
        @foreach (var c in _customers)
        {
            <li>@c.Name -- @c.Code -- @c.Id</li>
        }
    </ul>
    <p class="text-danger">@error</p>

</MudRTLProvider>



@code {
    private List<GetCustomersMinimal_DTO> _customers = new();
    private string error = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var request = new GetCustomersMinimalRequest();
            var response = await mediator.Send(request);

            var customers = response.Data;
            _customers = customers;

        }
        catch (Exception)
        {

            error = "خطا هنگام خواندن اطلاعات";
        }
    }

}