<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
                @* <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
                <NotAuthorized>
                    <h1>متاسفم ، شما مجاز به دیدن محتوای این صفحه نیستید</h1>
                    <p>سطح دسترسی شما برای دیدن این صفحه کافی نیست</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">متاسفم ، چیزی برای نمایش وجود ندارد!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>